<p>space</p>
<p>space</p>
<div class="container">

<p id="notice"><%= notice %></p>

<h1>Listing Reetchers</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reetchers.each do |reetcher| %>
      <tr>
        <td><%= reetcher.username %></td>
        <td><%= reetcher.email %></td>
        <td><%= reetcher.password %></td>
        <td><%= reetcher.password_confirmation %></td>
        <td><%= link_to 'Show', reetcher %></td>
        <td><%= link_to 'Edit', edit_reetcher_path(reetcher) %></td>
        <td><%= link_to 'Destroy', reetcher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reetcher', new_reetcher_path %>
</div>