<p>space</p>
<p>space</p>

<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @reetcher.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @reetcher.email %>
</p>
<%= link_to 'Add Financials', new_user_path %> 
<%= link_to 'Edit', edit_reetcher_path(@reetcher) %> 
<%= link_to 'Back', reetchers_path %>
</div>