
<div class="container">
  <h3> <%= @user.first_name %>'s Dashboard </h3>

  <div class="panel panel-default">
    <div class="container">
      <p class="container">
        <div class="col-md-3">

             <i class="fa fa-address-book" aria-hidden="true">&nbsp;&nbsp;&nbsp; </i><strong>Name:</strong> <%= User.last.first_name %><br />
             <i class="fa fa-id-card" aria-hidden="true">&nbsp;</i> <strong>Age: </strong><%= User.last.age %><br />
             <i class="fa fa-money" aria-hidden="true">&nbsp;</i> <strong>Monthly Salary:</strong> $<%= User.last.monthly_income %><br />
             <i class="fa fa-usd" aria-hidden="true">&nbsp;&nbsp;&nbsp;&nbsp;</i><strong>Monthly Expenses:</strong> $<%= User.last.monthly_expenses %><br />
             <i class="fa fa-line-chart" aria-hidden="true">&nbsp;&nbsp;</i><strong>Investments:</strong> $<%= User.last.investments %><br />
             <i class="fa fa-tint" aria-hidden="true">&nbsp;&nbsp;&nbsp;&nbsp;</i><strong>Liquid Assets:</strong> $<%= User.last.liquid_assets %><br />
             <i class="fa fa-fire" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i><strong>Non-Liquid Assets:</strong> $<%= User.last.non_liquid_assets %><br />
             <i class="fa fa-credit-card-alt" aria-hidden="true">&nbsp;</i><strong>Oustanding Debt: </strong> $<%= User.last.total_debt%><br />
             <i class="fa fa-plus-square-o" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i><strong>Average Interest Rate: </strong><%= User.last.avg_debt_rate %><br />
             <i class="fa fa-trophy" aria-hidden="true">&nbsp;&nbsp;</i><strong>Total Savings Goal: </strong><%= User.last.savings_goal %><br />

         <p class="container">
          <%= link_to 'Edit', edit_user_path(User.last) %>
          <%= link_to 'Delete', User.last, method: :delete %>
    
         </p>
        </div>
      </p>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
              <strong>Current Net Worth:</strong> $<%= @user.net_worth %></br>
              <strong>Net Worth in One Year:</strong> $<%= @user.net_worth_yr_1 %></br>
              <strong>Net Worth in Three Years:</strong> $<%= @user.net_worth_yr_3 %></br>
              <strong>Net Worth in Five Years:</strong> $<%= @user.net_worth_yr_5 %></br>
              <strong>Net Worth in Ten Years:</strong> $<%= @user.net_worth_yr_10 %></br>
              <strong>Total Monthly Savings:</strong> $<%= @user.monthly_savings %></br>
              <strong>Total Yearly Savings:</strong> $<%= @user.yearly_savings %></br>
              <strong>Approximate Months to Goal:</strong> <%= @user.months_to_goal %></br>
              <strong>Approximate Years to Goal:</strong> <%= @user.years_to_goal %></br>
              <strong>Approximate Paid For Debt:</strong> $<%= @user.yearly_debt_total %></br>

       </div>
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <p class="container">
            <head>
              <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
              <script type="text/javascript">
                google.charts.load('current', {'packages':['corechart']});

                google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
                function drawChart() {

        // Create the data table.
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Income');
                data.addColumn('number', 'Financials');
                data.addRows([
                  ['Non-Liquid Assets', <%= @user.non_liquid_assets %>],
                  ['Liquid Assets', <%= @user.liquid_assets %>],
                  ['Investments', <%= @user.investments %>]
                ]);

        // Set chart options
                var options = {'title':'Snapshop Summary',
                                'width':450,
                                'height':240};

        // Instantiate and draw our chart, passing in some options.
                    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
                  }
                </script>
              </head>

              <body>
    <!--Div that will hold the pie chart-->
                <div id="chart_div"></div>
              </body>   
      </div>      
    </div>
  </div>
</div>
</div>
</div>
</div>
  <div class="row">
    <div class="container">
      <div class="panel panel-default">
        <div class="container">
          <p class="container">
            <div class="col-md-5">
          <p></p>
          <body></body>
          <h1></h1>
          <h4><strong>Immediate Action Plan:</strong></h4>
          <p><strong><%= @user.emergency_goal %></p>
          <p><%= @user.cash_debt_ratio %> </p>
          <%= @user.display %>
          <!--<%= ((@user.monthly_savings).to_s+" "+" "+" ")*12 %>-->
          <p> You are paying approximately $<%= @user.yearly_debt_total %><%= @user.formatter(@user.yearly_debt_total) %> per year for interest payments on your debt. </p></strong>
          
            </div>




<div class="container">
<div class="row">
  <div class="col-md-7">
      <p></p>
      <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Net worth', 'Goal Shortage'],
          ['Year 0',  <%= @user.net_worth %>, <%=@user.short%>],
          ['Year 1',  <%= @user.net_worth_yr_1 %>, <%=@user.short_yr_1%>],
          ['Year 2',  <%= @user.net_worth_yr_2 %>, <%=@user.short_yr_2%>],
          ['Year 3',  <%= @user.net_worth_yr_3 %>, <%=@user.short_yr_3%>],
          ['Year 4',  <%= @user.net_worth_yr_4 %>, <%=@user.short_yr_4%>],
          ['Year 5',  <%= @user.net_worth_yr_5 %>, <%=@user.short_yr_5%>]
        ]);

        var options = {
          title: 'Net Worth v. Goal Shortage',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  
  <body>

    
    <div id="curve_chart" style="width: 633px; height: 270px"></div>
  </body>

</div>
</div>
</div>
</div>
</div>
</div>
<div class="container">
  <p>The two obvious routes to reach you goal in a shorter period of time are listed below:
    <u>
      <li>Lower your Expenses</li>
      <li>Increase your Income</li>
    </u>
  </p>
  <p>
    Each route has it's own respective benefits and difficulties, but we suggest
    focusing on increasing your income as the primary method to reach your goal quicker. 
  </p>
  <p>The options below have been put in no particular order, scaled in difficulty from 1-5 (5 being the hardest) </p>
  
</div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Option</th>
      <th>Difficulty</th>
      <th>Examples</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Part-Time Work</td>
      <td>2</td>
      <td>Part-Time Sales, Cashier, Part-Time Admin Assistant, Waiter, Ride Sharing Services</td>
      <td>Lower Pay, Easy to Find</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>"Better" Full Time Work</td>
      <td>2</td>
      <td>Any job/career within your line of work that will pay more.</td>
      <td>Pay increase may not be substancial. Could be very fufilling if passionate about the work. </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Start Business</td>
      <td>4</td>
      <td>A small business, franchise, consulting, ecommerce website, start-up idea that you may be interested in.</td>
      <td>Own Boss, Potential for Substancial Income, High Risk</td>
    </tr>
        <tr>
      <th scope="row">4</th>
      <td>Investments</td>
      <td>5</td>
      <td>Stocks, High Interest Bonds, Limited-Partnerships, Start-Ups, etc.. </td>
      <td>Considered extremely risky, it is recommended to avoid these income strategies until significant wealth is established.</td>
    </tr>
        <tr>
      <th scope="row">5</th>
      <td>Hobby</td>
      <td>1</td>
      <td>Do anything you love you doing, and get paid for it!</td>
      <td>May be hard to make a modest income.</td>
    </tr>
  </tbody>
</table>



<div class="container"><footer><%= link_to 'go back', users_path %><footer></div>